## Loading Data into Python

We have seen that Python knows many tricks (functions) which we can order it to perform through the use of *function call* statements. 
But what if Python doesn't know the particular trick that we need? 
For example, what if we have an excel spreadsheet that contains business data like the following:


| Product Name | Sales Q1 2019 (USD) | Sales Q2 2019 (USD) |
| ------------ | ------------------- | ------------------- |
| Apples       | 1000000             | 1500000             |
| Oranges      | 2000000             | 3000000             |
| Bananas	   | 3000000             | 4500000             |
| Pineapples   | 1500000             | 2250000             |
| Peaches      | 2000000             | 1000000             |

We want Python to load this data and do something useful with it. However, Python doesn't know how to work with Excel spreadsheet files. 
How can we teach Python this skill?

### Using Modules to Teach Python New Skills

Python can learn new skills by *importing modules*. Think of a *module* as a textbook, and *importing* the module causes Python to read the textbook and learn all of the facts and skills held inside. Importing a module only requires a single line of Python code - for example, the following line instructs Python to import the module named `pandas`:

In [1]:
import pandas

In [4]:
import sys
sys.version

'3.7.3 (default, Mar 27 2019, 22:11:17) \n[GCC 7.3.0]'

In [5]:
pandas.__version__

'0.25.1'

In [8]:
!conda --version

conda 4.7.12

Executing the line `import pandas` is analogous to giving Python the command: "Go read this book called `pandas` and learn all of the skills that it contains."
After that line finishes running, Python will have learned many new skills. One of these tricks is a function called `read_excel`, which will accomplish our goal of loading Excel data into Python for analysis.

### Loading Excel Data into Python

We are now going to use the `read_excel` function from the `pandas` module to load our Excel data into Python, as we demonstrate below:

In [14]:
!ls data/

airline-data.csv	  employee-churn.csv   raw_default_data.csv
credit_card_exercise.csv  ice-cream-sales.csv  stock_data.csv
demo.xlsx		  pca_survey.csv

In [15]:
df = pandas.read_excel("data/demo.xlsx")

Let's break down everything that is happening in the line above:

1. We are calling the function `read_excel`. What's different about using a function like `read_excel` that Python learned about from a module, versus a builtin function like `min` that we could use without importing a module? Python simply requires that we write the module name followed by a dot (so in this case, `pandas.`) before the function name, so that it knows where to find the function that we are calling.
2. This function, `read_excel`, accepts a string argument which specifies the name of the excel file that we wish to load into Python. In this case, we are loading the file `demo.xlsx` from the folder `data`.
3. Like the builtin functions that we learned about before, the function `read_excel` returns a value, which we have stored in the variable `df`, which is short for "Data Frame." This variable contains the excel data that we wish to analyze.

Just like all of the variables that we learned about before, we can take a look at the value stored inside `df` by simply typing its name into a code cell and executing the cell with `Shift-Enter`:

In [16]:
df

  Product Name  Sales Q1 2019 (USD)  Sales Q2 2019 (USD)
0       Apples              1000000              1500000
1      Oranges              2000000              3000000
2      Bananas              3000000              4500000
3   Pineapples              1500000              2250000
4      Peaches              2000000              1000000
5         Corn              2000000              4000000
6     Zucchini              3000000              4500000
7   Artichokes              2000000              3000000
8  Green Beans              3000000              4500000
9       Squash              1500000              2250000

We can see that this Excel file contains ten rows, showing the sales (in US dollars) of ten different fruits and vegetables across two different time periods, `Q1 2019` and `Q2 2019`.

### Objects

What, exactly, is the nature of the value held in `df`? In previous lessons, we have only worked with variables containing simple types of values, such as integers and strings - for example, the variables `var_one` and `var_two` below:

In [17]:
var_one = 1
var_two = "hello"
print("the type of var_one is:", type(var_one))
print("the type of var_two is:", type(var_two))

the type of var_one is: <class 'int'>
the type of var_two is: <class 'str'>

However, the value stored in the variable `df` is a more complicated data type:

In [18]:
print("the type of df is:", type(df))

the type of df is: <class 'pandas.core.frame.DataFrame'>

We will refer to this and other complicated values simply as *objects*. You can think of an *object* as a bundle of data. The bundle of data stored in `df` contains several different parts, which we will call *attributes*. For example, the `shape` attribute tells us the number of rows and columns that our Excel data contains (10 rows, 3 columns):

In [19]:
df.shape

(10, 3)

Notice how we told Python to access the shape *attribute* of the df *object* above - we wrote the name of the object (`df`), a dot (`.`), and the name of the attribute (`shape`); we can perform exactly this process to access any other attributes we need. For example, we can use the `size` attribute to get a count of the total number of cells in the DataFrame:

In [20]:
df.size

30

As a final example of how to access attributes of our DataFrame object `df`, let's access the `columns` attribute, which will list the names of the columns in our DataFrame:

In [21]:
df.columns

Index(['Product Name', 'Sales Q1 2019 (USD)', 'Sales Q2 2019 (USD)'], dtype='object')

What other attributes are part of the object ("bundle of data") held in the variable `df`? We can get a list by typing the variable name (`df`) followed by a `.` character, and then pressing `Tab` - Jupyter will then display a list of attributes of our object. Try this below - click to the right of the `.` character to place your cursor in that position, then press the `Tab` key - when you are done looking at the list that pops up, press the `Esc` key to hide it (note: it may take some time for the list to pop up):

In [ ]:
df.

<span style="color:blue;font-weight:bold">Exercise</span>: Store the value of the `ndim` attribute of the DataFrame `df` in a variable named `number_of_dimensions`. On the following line, display this value by typing `number_of_dimensions`:

In [22]:
number_of_dimensions = df.ndim
number_of_dimensions

2

In [22]:
check_variable_definition("number_of_dimensions")
assert number_of_dimensions == 2, "Did you set <code>number_of_dimensions</code> correctly?"
success()

For `df`, the list of attributes is very long, because a DataFrame is a complicated type of object with many, many attributes. For now, to save time, we suggest that you only use the attributes that we discuss in these lessons, and wait to explore other ones until your later studies.

### Methods: Functions Attached to Objects

We have now seen that we can use the `read_excel` function provided by the module `pandas` to load Excel data into our Python environment, and store this Excel data as a *DataFrame object*. We have also seen that this object (which we stored in a variable called `df`) is a collection of various *attributes* - related pieces of information that we can examine individually. But what else can we do with the object `df`?

It turns out that our DataFrame `df` (and all other Python objects as well) can be commanded to *do* useful things. Just like the Python interpreter itself, each object has a set of "tricks" that it is programmed to perform on command. In our previous lesson, we called the tricks associated with the Python interpreter *functions* - when we are talking about the tricks associated with an *object*, we call them *methods*.

Just as we can tell the Python interpreter to perform a specific trick by using a *function call* statement, we can tell an object to perform a specific trick by using a *method call* statement. A method call looks just like a function call, except that the function name is preceded by the name of the object and an additional dot. For example, 
to perform a method call that instructs the object `df` to perform a trick named `head`, we write the following:

In [23]:
df.head()

  Product Name  Sales Q1 2019 (USD)  Sales Q2 2019 (USD)
0       Apples              1000000              1500000
1      Oranges              2000000              3000000
2      Bananas              3000000              4500000
3   Pineapples              1500000              2250000
4      Peaches              2000000              1000000

This method call causes the DataFrame object `df` to display its first 5 rows. The `head()` method will be very important for us to use when we work with larger datasets, as displaying the entire DataFrame all at once becomes very inconvenient.

Similarly, we can call the `describe()` method to tell our DataFrame object to produce a summary of each column, showing the count, mean, standard deviation, and other summary statistics for each column of data:

In [24]:
df.describe()

       Sales Q1 2019 (USD)  Sales Q2 2019 (USD)
count         1.000000e+01         1.000000e+01
mean          2.100000e+06         3.050000e+06
std           6.992059e+05         1.295291e+06
min           1.000000e+06         1.000000e+06
25%           1.625000e+06         2.250000e+06
50%           2.000000e+06         3.000000e+06
75%           2.750000e+06         4.375000e+06
max           3.000000e+06         4.500000e+06

The `describe()` method discussed above provides a good way to get a quick look at our data and draw some simple conclusions - for example, we can see that average sales increased from `Q1` to `Q2`.

Like the functions we learned about before, some methods can also accept arguments - for example, we can use the `get` method to extract a particular column of data from our DataFrame:

In [25]:
df.get('Sales Q1 2019 (USD)')

0    1000000
1    2000000
2    3000000
3    1500000
4    2000000
5    2000000
6    3000000
7    2000000
8    3000000
9    1500000
Name: Sales Q1 2019 (USD), dtype: int64

<span style="color:blue;font-weight:bold">Exercise</span>: Use the `get` method to retrieve the column of data `'Sales Q2 2019 (USD)'` from the DataFrame `df` and store it in a variable named `sales_q2`:

In [27]:
sales_q2 = df.get('Sales Q2 2019 (USD)')

In [27]:
check_variable_definition("sales_q2")
error_msg  = "<code>sales_q2</code> does not appear to contain the correct data. Did you call the <code>get</code> method correctly?"
try:
   assert sales_q2.equals(df.get("Sales Q2 2019 (USD)")), error_msg
except AssertionError:
    raise
except:
    raise ExerciseError(error_msg)
success()

### Documentation

Recall that when you learned how to call functions, you learned how to view the documentation for a function using thing `?` character. Methods work the same way, as you can see by running the code below:

In [28]:
df.head?

The method documentation provided by using `?` can be difficult to read for beginners - we suggest also using a search engine to query information about how particular methods from a given Python object should be used.

### Simplifying Code using `import as` and `from`

You will notice that calling functions from the `pandas` module as shown above required us to type a lot of addtional text; specifically, we needed to prefix every function name with the string `pandas.` This is fine for a single function call, but this prefix can in many cases make our code more difficult to read. Therefore, it is often desirable to use a shorter prefix to access imported functions. Python allows us to use `import as` for this purpose, as shown below:

In [29]:
import pandas as pd

This functions exactly like the regular `import` statement that we learned above, with one exception. Now, instead of typing `pandas.` to indicate that we wish to use a function from the `pandas` module, we can simply type the shorter prefix `pd.` As you can see from the code sample below, the new code is shorter and works just as well:

In [30]:
df2 = pd.read_excel("data/demo.xlsx")
df2.head()

  Product Name  Sales Q1 2019 (USD)  Sales Q2 2019 (USD)
0       Apples              1000000              1500000
1      Oranges              2000000              3000000
2      Bananas              3000000              4500000
3   Pineapples              1500000              2250000
4      Peaches              2000000              1000000

Can we make the above code even shorter? In certain cases, yes. Suppose that the only skill that we need Python to learn from the `pandas` module is the function `read_excel`, and we do not intend on using any other functions from this module. In that case, we can simply write the following:

In [31]:
from pandas import read_excel

Having done this, we can now use the function `read_excel` without any prefix:

In [32]:
df3 = read_excel("data/demo.xlsx")
df3.head()

  Product Name  Sales Q1 2019 (USD)  Sales Q2 2019 (USD)
0       Apples              1000000              1500000
1      Oranges              2000000              3000000
2      Bananas              3000000              4500000
3   Pineapples              1500000              2250000
4      Peaches              2000000              1000000

Familiarize yourself with both the `import as` and `from` ways of importing code, as you will see both in the subsequent lessons of this course.

### Accessing Pandas Data using the `[]` Operator

In an earlier section, you learned to access individual columns of data from a pandas dataframe using the `get(...)` method, as shown below:

In [33]:
df.get('Product Name')

0         Apples
1        Oranges
2        Bananas
3     Pineapples
4        Peaches
5           Corn
6       Zucchini
7     Artichokes
8    Green Beans
9         Squash
Name: Product Name, dtype: object

Pandas provides a convenient shorthand for this behavior - instead of typing `.get(...)`, we can simply place the desired column name between brackets in order to retrieve that column:

In [34]:
df['Product Name']

0         Apples
1        Oranges
2        Bananas
3     Pineapples
4        Peaches
5           Corn
6       Zucchini
7     Artichokes
8    Green Beans
9         Squash
Name: Product Name, dtype: object

We can perform many useful operations on columns that we have retrieved this way. For example, we can add two columns together:

In [35]:
df["Sales Q1 2019 (USD)"] + df["Sales Q2 2019 (USD)"]

0    2500000
1    5000000
2    7500000
3    3750000
4    3000000
5    6000000
6    7500000
7    5000000
8    7500000
9    3750000
dtype: int64

We can also use the `[]` operator to create new columns - for example, we can create a `total_sales` column that contains the sum we saw above:

In [36]:
df['total_sales'] = df["Sales Q1 2019 (USD)"] + df["Sales Q2 2019 (USD)"]

We can see that now our DataFrame contains the new column:

In [37]:
df.head()

  Product Name  Sales Q1 2019 (USD)  Sales Q2 2019 (USD)  total_sales
0       Apples              1000000              1500000      2500000
1      Oranges              2000000              3000000      5000000
2      Bananas              3000000              4500000      7500000
3   Pineapples              1500000              2250000      3750000
4      Peaches              2000000              1000000      3000000

<span style="color:blue;font-weight:bold">Exercise</span>: Using the example given above as a guide, create a new column in your DataFrame `df` with the column name `sales_q1_in_thousands`. Make the values in this column equal to the values in the column `Sales Q1 2019 (USD)` divided by `1000`:

In [38]:
df["sales_q1_in_thousands"] = df["Sales Q1 2019 (USD)"]/1000.0

In [38]:
error_msg  = "<code>df['sales_q1_in_thousands']</code> does not appear to contain the correct data. Did you set it correctly?"
try:
   assert df['sales_q1_in_thousands'].equals(df['Sales Q1 2019 (USD)']/1000), error_msg
except AssertionError:
    raise
except:
    raise ExerciseError(error_msg)
success()

In [39]:
df.head()

,Product Name,Sales Q1 2019 (USD),Sales Q2 2019 (USD),total_sales,sales_q1_in_thousands
0,Apples,1000000,1500000,2500000,1000.0
1,Oranges,2000000,3000000,5000000,2000.0
2,Bananas,3000000,4500000,7500000,3000.0
3,Pineapples,1500000,2250000,3750000,1500.0
4,Peaches,2000000,1000000,3000000,2000.0

### Downloading Modules 

Where do we get these modules ("books") for Python to learn from? Modules are stored in the Python Package Index (PyPI) which you can view online [here](https://pypi.org). We have pre-installed all of the modules required for this course, so you will not need to worry about installing any modules as long as you access the course materials through this website. The process for installing modules on your own computer is beyond the scope of this course, but you can consult the reference [here](https://packaging.python.org/tutorials/installing-packages/) for guidance if you should need to do so at a later time.

### Conclusion

Congratulations, you are now working with real data! In the next lesson, we will learn how we can use this data to answer interesting and useful questions.